@page "/Login"
@layout LoginLayout
@inject IAuthService AuthService

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                        <div class="card card-plain mt-8">
                            <div class="card-header pb-0 text-left bg-transparent">
                                <img src="./logo.png" alt="profile_image" class="w-100 border-radius-lg">
                            </div>
                            <div class="card-body">
                                <form role="form">
                                    <EditForm Model="@Model" OnValidSubmit=@OnValidSubmit>
                                        <DataAnnotationsValidator />
                                        <label>Email</label>
                                        <div class="mb-3">
                                            <InputText type="text" @bind-Value="Model.UserName" class="form-control" id="userId" placeholder="Username"></InputText>
                                            <ValidationMessage For="() => Model.UserName" />
                                        </div>
                                        <label>Password</label>
                                        <div class="mb-3">
                                            <InputText type="password" @bind-Value="Model.Password" class="form-control" id="password" placeholder="Password"></InputText>
                                            <ValidationMessage For="() => Model.Password" />
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn bg-gradient-info w-100 mt-4 mb-0">Sign in</button>
                                        </div>
                                    </EditForm>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="oblique position-absolute top-0 h-100 d-md-block d-none me-n8">
                            <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image:url('../assets/img/curved-images/curved6.jpg')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>