
<!-- Navbar Light -->
<nav class="navbar navbar-expand-lg navbar-light bg-white z-index-3 py-3">
    <div class="container">
        <a class="navbar-brand" href="" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
            <img src="../logo.png" alt="profile_image" class="w-100 border-radius-lg">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <div class="row">
                    <div class="col-auto m-auto dropdown">
                        <a class="cursor-pointer" data-bs-toggle="dropdown">
                            <i class="fa fa-cog fixed-plugin-button-nav"></i> Manage Accounts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item text-sm font-weight-normal" @onclick="OnClickLogout" style="color: #343a40">Log Out</a></li>
                        </ul>
                    </div>

                    <div class="col-auto">
                        <div class="bg-white border-radius-lg d-flex me-2">
                            <input type="text" class="form-control border-0 ps-3" placeholder="Type here...">
                            <button class="btn bg-gradient-primary my-1 me-1">Search</button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
